<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Library</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" th:href="@{/home}">Home</a></li>
                    <li><a href="#" th:href="@{/books}">Books</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>