<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div class="starter-template">
            <a href="books/new" class="btn btn-primary" aria-label="Left Align" style="margin-bottom: 20px;">
                <span class="glyphicon glyphicon-plus" ></span>
            </a>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td>Title</td>
                    <td>Author</td>
                    <td>ISBN</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                    <tr th:if="${books.empty}">
                        <td colspan="4">No books</td>
                    </tr>
                    <tr th:each="book : ${books}">
                        <td><a th:href="@{'books/' + ${book.id}}" th:text="${book.title}"></a></td>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.isbn}"></td>
                        <td style="width: 50px;">
                            <a th:href="@{'books/' + ${book.id}}" class="btn btn-danger" aria-label="Left Align">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>