<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div class="starter-template center">
            <h1>Java Spring application</h1>
            <p class="lead">Library</p>
        </div>
    </div>
</body>
</html>